.App {
  text-align: center;
  max-width: 1024px;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 3px;
  box-shadow: -1px 1px 2px black;
  color: black;
}
.App h1 {
  font-size: 3.2rem;
}
.App h2 {
  font-size: 2.8rem;
}
.App h3 {
  font-size: 2.4rem;
}
.App h4 {
  font-size: 2rem;
}
.App p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.App li {
  font-size: 1.8rem;
}
.App .green {
  color: green;
}
.App .red {
  color: red;
}
.App .green-header {
  background: green;
  color: white;
  width: 100%;
  padding: 5px 0;
}
.App .red-header {
  background: red;
  color: white;
  width: 100%;
  padding: 5px 0;
}
.nav-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  background: #98ff98;
  padding: 15px;
  border-bottom: 1px solid black;
  box-shadow: -1px 1px 1px gray;
}
nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
nav a,
nav a:visited {
  text-decoration: none;
  font-size: 2rem;
  color: black;
  background: white;
  border: 1px solid black;
  box-shadow: -1px 1px 1px black;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 10px;
}
.balances-page {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}
.balances-page .balances-bar {
  width: 100%;
  padding: 10px 0;
  background: rgba(206, 236, 246, 0.877);
  margin-top: 1px;
  margin-bottom: 10px;
  border: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
.balances-page .balances-bar .totals {
  width: 33.33%;
}
.balances-page .balances-column {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 30%;
  padding: 0 0 10px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: -1px 1px 1px black;
  margin-bottom: 10px;
}
.balances-page .balances-column h3 {
  margin-bottom: 10px;
  padding: 10px 0;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 10px;
}
form p {
  font-size: 1.8rem;
}
form .form-input {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin: 10px;
}
form .form-input input {
  width: 200px;
  text-align: left;
  padding: 5px 0;
  padding-left: 5px;
  font-size: 1.6rem;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: -1px 1px 1px black;
}
form button {
  background: rgba(0, 0, 128, 0.705);
  color: white;
  font-size: 1.6rem;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid black;
  text-align: center;
  cursor: pointer;
  width: 100px;
  margin-left: 5px;
  box-shadow: -1px 1px 1px black;
  font-weight: bold;
}
form button:hover {
  background: white;
  color: rgba(0, 0, 128, 0.705);
  border: 2px solid rgba(0, 0, 128, 0.705);
}
.friends-page {
  width: 70%;
  margin: 20px auto;
  padding: 15px 0;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: -1px 1px 1px black;
}
.friends-page h2 {
  margin-bottom: 10px;
}
.friends-page .friends-list {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.friends-page .friends-list h2 {
  width: 100%;
}
.friends-page .friends-list table {
  font-family: arial, sans-serif;
  width: 70%;
  border: 1px solid black;
  box-shadow: -1px 1px 1px black;
}
.friends-page .friends-list table td,
.friends-page .friends-list table th {
  border-bottom: 1px solid black;
  text-align: center;
  padding: 10px;
}
.friends-page .friends-list table th {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  background: rgba(121, 217, 255, 0.705);
}
.friends-page .friends-list table td {
  font-size: 1.6rem;
}
.bills-page {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}
.bills-page .balances-bar {
  width: 100%;
  padding: 10px 0;
  background: rgba(206, 236, 246, 0.877);
  margin-top: 1px;
  border: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
.bills-page .balances-bar .totals {
  width: 33.33%;
}
.bills-page .bills-list {
  width: 75%;
  border: 1px solid black;
  margin: 20px 0;
}
.bills-page .bills-list h2 {
  width: 100%;
  background: red;
  color: white;
  padding: 10px;
}
.bills-page .bills-list table {
  font-size: 1.6rem;
  width: 100%;
}
.bills-page .bills-list table tr {
  border: 1px solid gray;
  height: 50px;
}
.bills-page .bills-list table td {
  vertical-align: middle;
}
.bills-page .lighter-text {
  color: gray;
  font-size: 1.2rem;
}
.add-bill-page {
  width: 70%;
  margin: 20px auto;
}
.add-bill-page form {
  width: 70%;
  margin: 30px auto;
  padding: 20px;
  flex-wrap: wrap;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: -1px 1px 1px black;
  justify-content: flex-end;
}
.add-bill-page form .form-input {
  justify-content: flex-end;
  width: 100%;
}
.add-bill-page form .form-input p {
  font-size: 1.8rem;
}
.add-bill-page form .form-input input {
  width: 70%;
}
.add-bill-page form .form-input select {
  width: 70%;
  padding-left: 40px;
  font-size: 1.6rem;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: -1px 1px 1px black;
}
.add-bill-page button {
  width: 200px;
  padding: 10px 0;
  margin-top: 20px;
  margin-right: 20px;
}
.settlement-page {
  width: 40%;
  margin: 30px auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: -1px 1px 1px black;
  flex-wrap: wrap;
}
.settlement-page .pay-all {
  width: 100%;
  margin-bottom: 10px;
}
.settlement-page .settlement {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: 100%;
  background: lightblue;
  padding: 10px 0;
  margin: 10px 0;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
.settlement-page .settlement button {
  margin-left: 30px;
}
.settlement-page button {
  padding: 7px 15px;
  font-size: 1.8rem;
  font-weight: bold;
  background: red;
  color: white;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: -1px 1px 1px black;
}
