.bill-page {
  width: 70%;
  margin: 20px auto;

  form {
    width: 70%;
    margin: 30px auto;
    padding: 20px;
    padding-bottom: 50px;
    flex-wrap: wrap;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: -1px 1px 1px black;
    justify-content: flex-end;
    background: white;

    h4 {
      margin-bottom: 10px;
    }
    input {
      margin-bottom: 25px;
      padding-left: 20px;
    }
  }
}
