.bills-page {
  .flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1024px;

  .bills-list {
    width: 95%;
    border: 1px solid black;
    margin: 20px 0;

    h2 {
      width: 100%;
      background: rgba(255, 0, 0, 0.746);
      color: white;
      padding: 10px;
    }

    table {
      font-size: 1.6rem;
      width: 100%;
      background: white;
      tr {
        width: 100%;
        border: 1px solid gray;
        height: 50px;
      }
      td {
        vertical-align: middle;
        a,
        a:visited {
          text-decoration: none;
          color: black;
        }
        a:hover {
          font-size: 2rem;
        }
      }
      .date {
        width: 7%;
        padding-left: 10px;
      }
      .description {
        width: 38%;
      }
      .right-column {
        width: 35%;
        text-align: right;
      }
    }
  }
}
