.friends-page {
  width: 70%;
  margin: 20px auto;
  padding: 15px 0;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: -1px 1px 1px black;

  h2 {
    margin-bottom: 10px;
  }

  form {
    .flex(@justify: center);
    margin-bottom: 10px;

    p {
      font-size: 1.8rem;
    }

    .form-input {
      .flex;
      margin: 10px;

      input {
        width: 200px;
        text-align: left;
        padding: 5px 0;
        padding-left: 5px;
        font-size: 1.6rem;
        border: 1px solid black;
        border-radius: 3px;
        box-shadow: -1px 1px 1px black;
      }
    }

    button {
      .button(@background: rgba(0, 0, 128, 0.705) ; @color: white);
      width: 100px;
      margin-left: 5px;
      box-shadow: -1px 1px 1px black;
      font-weight: bold;
    }
  }

  .friends-list {
    margin-top: 30px;
    .flex(@justify: center);
    flex-wrap: wrap;

    h2 {
      width: 100%;
    }

    table {
      font-family: arial, sans-serif;
      width: 70%;
      border: 1px solid black;
      box-shadow: -1px 1px 1px black;

      td,
      th {
        border-bottom: 1px solid black;
        text-align: center;
        padding: 10px;
      }

      th {
        font-size: 2rem;
        text-align: center;
        font-weight: bold;
        background: rgba(121, 217, 255, 0.705);
      }

      td {
        font-size: 1.6rem;
      }
    }
  }
}
