.App {
  text-align: center;
  margin: 0 auto;
  background: rgb(233, 233, 233);
  color: black;

  h1 {
    font-size: 3.2rem;
  }
  h2 {
    font-size: 2.8rem;
    padding: 10px;
    background: black;
    color: white;
    border: 1px solid black;
    box-shadow: -1px 1px 1px black;
  }

  h3 {
    font-size: 2.4rem;
  }
  h4 {
    font-size: 2rem;
  }
  p {
    font-size: 1.6rem;
    line-height: 1.4;
  }
  li {
    font-size: 1.8rem;
  }

  // Span
  .green {
    color: green;
  }

  .nav-green {
    color: rgb(25, 226, 25);
  }

  .red {
    color: red;
  }

  .lighter-text {
    color: gray;
    font-size: 1.2rem;
  }

  // Header
  .green-header {
    background: rgba(0, 128, 0, 0.767);
    color: white;
    width: 100%;
    padding: 5px 0;
  }

  .red-header {
    background: rgba(255, 0, 0, 0.746);
    color: white;
    width: 100%;
    padding: 5px 0;
  }

  // Buttons
  button {
    cursor: pointer;
    font-size: 1.6rem;
    padding: 7px 15px;
    margin-left: 25px;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: -1px 1px 1px black;
    background: @button-color;
    color: white;
  }

  button:hover {
    color: @button-color;
    font-weight: bold;
    background: white;
  }

  .pay-btn,
  .pay-all-btn {
    background: rgba(255, 0, 0, 0.746);
    color: white;
    font-weight: bold;
  }

  .pay-btn:hover,
  .pay-all-btn:hover {
    color: rgba(255, 0, 0, 0.746);
    background: white;
  }

  .pay-all-btn {
    font-size: 2rem;
    margin: 0;
  }

  .view-btn {
    background: rgba(250, 250, 210, 0.363);
    margin-right: 10px;
    color: black;
  }

  .view-btn:hover {
    color: white;
    background: black;
  }

  // Balances Bar
  .balances-bar {
    width: 100%;
    padding: 10px 0;
    background: black;
    color: white;
    margin-top: 1px;
    margin-bottom: 10px;
    border: 1px solid black;
    .flex;
    .totals {
      width: 33.33%;
    }
  }

  .balance-amount {
    margin-left: 20px;
  }
}
