.flex(@justify:space-evenly, @align:center, @direction:row) {
  display: flex;
  justify-content: @justify;
  align-items: @align;
  flex-direction: @direction;
}

.flex-v(@justify:space-evenly, @align:center, @direction:column) {
  display: flex;
  justify-content: @justify;
  align-items: @align;
  flex-direction: @direction;
}
// Navigation buttons
.nav-button() {
  background: @main-color;
  border: 2px solid white;
  color: white;
  font-size: 2.2rem;
  padding: 9px 20px;
  border-radius: 5px;
  transition: all 0.3s;
  @media @small-mobile {
      font-size: 1.8rem;
  }

&:hover {
  color: @main-color;
  background-color: white;
  border-color: @main-color;
}
&:focus {
  outline: none;
}
&:active {
  transform: scale(0.99);
}
}
// Dark Nav button
.nav-button-dark() {
  background: @main-color;
  border: 2px solid white;
  color: white;
  font-size: 2.2rem;
  padding: 9px 20px;
  border-radius: 5px;
  transition: all 0.3s;
  @media @small-mobile {
      font-size: 1.8rem;
  }

&:hover {
  color: @main-color;
  background-color: white;
  border-color: @main-color;
}
&:focus {
  outline: none;
}
&:active {
  transform: scale(0.99);
}
}
// Dark button
.button-style() {
     
  display: block;
  border: none;
  margin: auto;
  text-decoration: none;
  background: @main-color;
  color: white;
  font-size: 2.2rem;
  padding: 15px 50px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;


&:hover,
&:focus {
  background: lighten(@main-color, 10%);
}

&:focus {
  outline: none;
}

&:active {
  transform: scale(0.99);
}
}

// Light button

.button-style-light() {

background: white;
border: 2px solid @main-color;
display: block;
margin: auto;
color: @main-color;
font-size: 2.2rem;
padding: 15px 50px;
// padding: 9px 20px;
border-radius: 5px;
transition: all 0.3s;
@media @small-mobile {
  font-size: 1.8rem;
}
&:hover {
  color: white;
  background-color: @main-color;
  border-color: @main-color;
}
&:focus {
  outline: none;
}
&:active {
  transform: scale(0.99);
}
}

// Checkbox Reset 
.checkbox-reset {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}