.flex(@justify:space-evenly, @align:center, @direction:row) {
  display: flex;
  justify-content: @justify;
  align-items: @align;
  flex-direction: @direction;
}

.flex-v(@justify:space-evenly, @align:center, @direction:column) {
  display: flex;
  justify-content: @justify;
  align-items: @align;
  flex-direction: @direction;
}

.button(@background: @main-color, @color:white) {
  background: @background;
  color: @color;
  font-size: 1.6rem;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid black;
  text-align: center;
  cursor: pointer;
  &:hover {
    background: @color;
    color: @background;
    border: 2px solid @background;
  }
}
