.nav-container {
  .flex(@justify: flex-end);
  background: @main-color;
  padding: 15px;
  border-bottom: 1px solid black;
  box-shadow: -1px 1px 1px gray;
}
nav {
  .flex;
  a,
  a:visited {
    text-decoration: none;
    font-size: 2rem;
    color: black;
    background: white;
    border: 1px solid black;
    box-shadow: -1px 1px 1px black;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 10px;
  }
}
